/**Tag Selectors**/

h1 {
  color: red;
  font-size: 20px

}

img:hover {
  background-color: gold;
}

/** Class Selector */

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

/** ID selectors**/

#heading {

  color: blue;
}
